@font-face {
  font-family: 'SMB';
  // src: local('Super Mario Bros.'), url('../Assets/fonts/SuperMarioBros.ttf') format('truetype');
  src: local('Super Mario Bros.'), url('../Assets/fonts/smbfont.ttf') format('truetype');
  font-style: normal;
}
